header{
    min-height: 4rem;
    background-color: var(--background-color-1);
    color: var(--font-1-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    margin-left: 15px;
    height: 54px;
    width: 54px;
    border-radius: 100%;
    background-color: white;
}
header ul{
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul button {
    padding: 15px;
    background-color: var(--btn-background-color);
    border-radius: 16px;
    margin: 0 10px;
    max-height: 3rem;
    max-width: 120px;
    min-width: 100px;
    font-size: 12px;
    text-align: center;
    color: var(--font-1-color);;
    cursor: pointer;
    border: 1px dotted white;
}
header ul button:hover{
    /* background-color: rgba(0, 0, 255, 0.3); */
    border:1px solid black;
    color: var(--font-2-color);
    background-color: #d3bc73a2;
}
li{
    list-style: none;
}
h1, h2, p{
    text-align: center;
}
h1{
    font-weight: 800;
    color: red;
    font-size: 3rem;
}
body{
    background-color: var(--background-color-2);
}